$accent: #FF7A04;

$link_color: $accent;
$header_background: $accent;
$background_color1: #2B2B2B;
$background_color2: #1E2022;
$navbar_header_background: $accent;

/* Extraced fonts from Google */
/* roboto-regular - cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-v20-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('./fonts/roboto-v20-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('./fonts/roboto-v20-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/roboto-v20-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-regular - cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
         url('./fonts/roboto-mono-v7-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-mono-v7-cyrillic-ext_greek_cyrillic_vietnamese_latin-ext_greek-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body, input {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}

code, kbd, pre {
    font-family: "Roboto Mono", "Courier New", Courier, monospace
}

@media only screen and (max-width: 76.1875em) {
	html .md-nav--primary .md-nav__title--site {
		background-color: $header_background;
        color: $header_background;
	}
	html .md-nav--primary .md-nav__title~.md-nav__list {
		/* background: linear-gradient(180deg,#000 10%,hsla(0,0%,0%,0)),linear-gradient(180deg,rgba(0,0,0,.26),rgba(0,0,0,.07) 35%,transparent 60%); */
		background-color: $header_background;
	}
	.md-nav {
    	background-color: $background_color1; //$navbar_header_background;    	
	}
	html .md-nav--primary .md-nav__title {
		background-color: $navbar_header_background;
	}
}

.md-container {
	background-color: $background_color1;
}

.md-typeset .footnote {
	color: #ccc;
}

body {
	color: #ccc;
}

.md-typeset pre {
	background-color: #000;
}

.md-typeset code {
	color: #ccc;
	box-shadow: 0.29412em 0 0 $background_color2, -0.29412em 0 0 $background_color2;
	background-color: $background_color2;
}

.md-nav__link[data-md-state=blur] {
	color: rgba(230,230,230,.54);
}

.md-typeset h1 {
	color: #ccc;
}

.md-typeset a, md-nav__link, md-nav__link:hover {
	color: $accent;
}

a footnote-ref::before {
	border-color: $accent;
}

a footnote-ref::before {
	color: $accent;
}

.md-nav__item--active>.md-nav__link, .md-nav__link:active {
	color: $accent;
}

.md-nav--secondary {
	border-left: .4rem solid $accent;
} 

.md-nav__link:focus, .md-nav__link:hover {
	color: $accent;
}

.md-typeset hr {
	border-bottom: .1rem dotted #666;
}

.md-footer-copyright {
	color: #666;
}

.md-typeset blockquote {
    padding-left: 1.2rem;
    border-left: .4rem solid rgba(230,230,230,.26);
    color: rgba(230,230,230,.54);
}

.md-typeset .codehilite code, .md-typeset .codehilite pre, .md-typeset .highlight code, .md-typeset .highlight pre {
    color: #fff;
}

.md-clipboard:before {
    transition: color .25s,opacity .25s;
    transition-property: color, opacity;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    color: $accent; //Copy button was not properly visible, adjusted color
    content: "\E14D";
}

.md-clipboard__message {
    color: $accent; //Toolip text was not properly visible, adjusted color 
    background: rgba(0, 0, 0, .7);
}

.md-typeset .md-content__icon {
    color: $accent; //Changed color of the edit page icon
}

.md-typeset .superfences-tabs {
    background-color: $background_color2;
}

div.superfences-content pre {
    border-top: 1px solid $background_color1;
}

@media only screen and (max-width: 76.1875em) {
	
}
